doctype html
html(ng-app='app')
  head
    title Zgłoszenie konkursowe
    link(rel='stylesheet', type='text/css', href='public/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='bower_components/angular-material/angular-material.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
  body
    block content
  footer
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-aria/angular-aria.min.js')
    script(src='bower_components/angular-animate/angular-animate.min.js')
    script(src='bower_components/angular-material/angular-material.min.js')
    script(src='bower_components/angular-messages/angular-messages.min.js')
    script(src='bower_components/angular-no-captcha/src/angular-no-captcha.js')
    script(src='bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js')
    script(src='bower_components/ng-file-upload/ng-file-upload.min.js')
    script(src='client/app.js')
    script(src='client/appControllers.js')
    script(src='client/appFactories.js')